@font-face {
    font-family: "system-ui";
    src: url();
}

:root {
    --main-color: #000;
    --color-white: #fff;
    --color-dark: #333;
    --color-shadow: #777;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "system-ui";
    transition: all 0.3s ease;
}

.section-wrapper {
    position: relative;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}